:root {
  --yellow: #ffce00;
  --light-gray: #e0e0e0;
  --dark-gray: #1a2a3b;
  --gray: #3f4f61;
  --black: #011627;
  --black-transparent: #01162700;
  --white: white;
  --text: var(--gray);
  --text-muted: #687889;
  --font-family: "Raleway", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--yellow);
  background-image: url(../images/logo.svg);
  background-size: cover;
  color: var(--black);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--black);
  font-weight: 900;
}

main {
  margin: 4rem auto;
  max-width: 640px;
  min-height: calc(100vh - 242px);
  width: 90vw;
}
